.vs
.vscode
.kdev4
Binaries
Intermediate
*.pri
*.code-workspace
Saved
ShooterGame.kdev4
ShooterGame.pro
ShooterGame.workspace
ShooterGameCodeCompletionFolders.txt
ShooterGameCodeLitePreProcessor.txt
DerivedDataCache
CMakeLists.txt
Makefile
Build
Packages
*BuiltData.uasset
*.sln
